
/*----- OTROS -----*/
.imagenPrincipal {
    display: flex;
    justify-content: center;
}
.imagen {
    max-width: 100%;
    height: auto;
    
}

/* ----- BANNER ----- */

.tituloPrincipal {
    display: flex;
    justify-content: end;
}
.tituloPrincipal__titulo {
    margin: 20px;
    margin-right: 40px;
    margin-bottom: 10%;
}
.tituloPrincipal__imagenLogo {
    width: 40vw;
}