/* ---- APARTADO DE LA NAV-BAR ----- */
* {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}


.navegador {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #333;
    border-bottom: 5px solid #393939;
    display: flex;
    align-items: center;
    padding: 5px 12px ;
}
.navegador__ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}


.navegador__imagen {
    display: block;
    height: 48px;
    width: auto;
}
.navegador__item--logo {
    margin-right: 10px;
}
.navegador__logo-link {
    display: inline-block;
}


.navegador__item {
    align-items: center;
}
.navegador__link {
    display: inline-block;
    padding: 8px 12px;
    min-width: 70px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    flex-grow: 1 1 30px;
    border-radius: 6px;
    border: 3px solid #222;
    background-color: #a00000;
    color: #c8c8c8;
}
.navegador__item--espaciador {
    margin-left: auto;
}

.link--login {
    
}

/*----- OTROS -----*/
.imagenPrincipal {
    display: flex;
    justify-content: center;
}
.imagen {
    max-width: 100%;
    height: auto;
    
}