* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(../imagenes/inicio/banner_mejorado.jpg) center -30%/cover no-repeat fixed #000;
}
.titulo {
    color: #a00000;
}
header {
    text-align: center;
}
h1, h2, h3, p, li {
    color: #c8c8c8;
}
.centrado {
    text-align: center;
    display: block;
    margin: 0 auto;
}
/* ---- APARTADO DE LA NAV-BAR ----- */
.navegador {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #303030;
    border-bottom: 3px solid #800000;
    box-shadow: 0 0 10px 2px #a00000;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    transition: padding 0.1s ease;
}
.navegador:hover {
    background-color: #2c2c2c;
    padding: 7px 12px;
}
.navegador__ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}


.navegador__imagen {
    display: block;
    height: 48px;
    width: auto;
}
.navegador__item--logo {
    margin-right: 10px;
}
.navegador__logo-link {
    display: inline-block;
}
.navegador__logo-link:hover {
    background-color: transparent;
}


.navegador__item {
    align-items: center;
}
.navegador__link {
    display: inline-block;
    padding: 8px 12px;
    min-width: 70px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    flex-grow: 1 1 30px;
    border-radius: 6px;
    border: 3px solid #222;
    background-color: #a00000;
    color: #c8c8c8;
    transition: background-color 0.08s ease, box-shadow 0.08s ease, padding 0.08s ease;
}
.navegador__link:hover {
    background-color: #800000;
    box-shadow: 0 4px 10px #0004;
    padding: 10px 14px;
}
.navegador__link:active {
    background-color: #500000;
}


.navegador__item--espaciador {
    margin-left: auto;
}

.link--login {
    background-color: transparent;
    border: 3px solid #a00000;
    box-shadow: 0 0 10px 2px #a00000;
    margin-right: 20px;
}

.footer-pagina {
    color: #c8c8c8;
    background-color: #303030;
    border-top: 3px solid #202020;
    box-shadow: 0 0 16px 2px #202020;
    height: 8vh;
    text-align: center;
}