<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="../css/inicio_sesion.css">
</head>
<body>
    <header>
        <h1 class="titulo">Inicio de sesion</h1>
    </header>
    <div class="contenedorFormulario">
        <form class="contenedorFormulario__formulario" action="#" method="post">
            <div class="formulario__texto">
                <label for="correo">Correo electrónico</label>
                <input type="text" name="correo" id="correo" placeholder="correo@ejemplo.com">
            </div>
            
            <div class="formulario__texto">
                <label for="contrasenia">Contraseña</label>
                <input type="password" name="contrasenia" id="contrasenia" placeholder="Ingrese su contraseña">
            </div>
            
            <div id="contenedor_error"></div>
            
            <div class="button-group">
                <button type="submit">Iniciar Sesión</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
    </div>
    
    <div class="contendorAdicional">
        <div>¿Aun no tienes cuenta? <a href="registrarse.html">Registrarse</a></div>
    </div>
    <a class="botonVolver" href="../index.html">Volver menu principal</a>
    <script src="../javascript/inicio_sesion.js"></script>
</body>
</html>